.em {
  text-align: left;
  position: relative;
  border: none;
  height: 35px;
  width: 280px;
  font-size: 20px;
  font-weight: 100px;
  border-bottom: 2px solid #3377ff;
  background-color: #ffffff;
  padding: 4px 4px 1px 4px;
  margin: 20px 10px 10px 10px;
}

#c_all {
  text-align: left;
  position: relative;
  border: none;
  height: 35px;
  width: 590px;
  font-size: 20px;
  font-weight: 100px;
  border-bottom: 2px solid #3377ff;
  background-color: #ffffff;
  padding: 4px 4px 1px 4px;
  margin: 8px 10px 10px 10px;

}

::placeholder {
  color: grey;
}

.result {
	height: 12vh;
	width: 90vw;
	background-color: lightgreen;
	color: black;
	text-align: center;
	padding: 12px 10px 10px 10px;
	font-weight: 10px;
	font-size: 27px;
	border-radius: 10px;
	margin: 2% 3% 0% 4%;
  box-shadow: 4px 4px 10px grey;
}


h1 {
  text-align: center;
  font-family:Comic Sans MS;
  color: black;
  margin-bottom: 1%;
  margin-top: 1%;
}

p {
	text-align: center;
  font-family:Comic Sans MS;
	font-weight: 10px;
	font-size: 27px;
	color: black;
	margin-bottom: 1%;
	margin-top: 1%;
}

.methods {
  text-align: left;
  font-weight: 10px;
  font-size: 27px;
  color: black;
  margin-left: 5%;
}

#eceiiit {
  width: 40vw;
  height: 10vh;
  text-align: left;
  float: right;
  font-weight: 10px;
  font-size: 27px;
  color: black;
  margin-left: 10%;
}

#cseiiit {
  width: 40vw;
  height: 10vh;
  float: left;
  text-align: left;
  font-weight: 10px;
  font-size: 27px;
  color: black;
  margin-left: 5%;
}

#cfl {
  width: 95vw;
  height: 7vh;
  margin-top: 5%;
  margin-bottom: 0px;
}

#cff {
  width: 95vw;
  height: 7vh;
  margin-top: 5%;
  margin-bottom: 0px;
}

.submit {
  text-align: center;
  background-color: #3377ff;
  font-size: 18px;
  font-weight: 100px;
  font-family: sans-serif;	
  color: white;
  height: 35px;
  width: 290px;
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: 8px;
}

.copy {
  float: center;
  background-color: lightyellow;
  font-size: 18px;
  font-weight: 100px;
  font-family: sans-serif;  
  color: black;
  height: 35px;
  width: 180px;
  border-radius: 10px;
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: 2%;
}